.teams {
    font-size: 1.5rem;
}

.media {
    font-size: 1.5rem;
}

.media img {
    border: 1px solid black;
}

.top10 h2 {
    color: #f03d4e;
}

.card {
    margin: 1rem;
    background-color: #e6e6e6;
}

.card h2 {
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.card a {
    font-size: 1.3rem;
    text-decoration: underline;
}